body {
/*background: #6e040f;
background: -moz-radial-gradient(center, ellipse cover,  #6e040f 0, #828c95 36%, #28343b 100%);
background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0,#6e040f), color-stop(36%,#828c95), color-stop(100%,#28343b));
background: -webkit-radial-gradient(center, ellipse cover,  #6e040f 0,#828c95 36%,#28343b 100%);
background: -o-radial-gradient(center, ellipse cover,  #6e040f 0,#828c95 36%,#28343b 100%);
background: -ms-radial-gradient(center, ellipse cover,  #6e040f 0,#828c95 36%,#28343b 100%);
background: radial-gradient(ellipse at center,  #6e040f 0,#828c95 36%,#28343b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e040f', endColorstr='#28343b',GradientType=1 );*/


background-color: #740e18; background-image: -moz-linear-gradient(center top , #740e18, #903E46); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#740e18), to(#903E46)); background-image: -webkit-linear-gradient(top, #740e18, #510A11);background-image: -o-linear-gradient(top, #740e18, #510A11);background-image: linear-gradient(to bottom, #740e18, #510A11);background-repeat: repeat-x;filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff740e18', endColorstr='#ff903E46', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/* styling for slides that are inactive */
.impress-enabled .step {
    margin: 0;
    opacity: 0.0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

    /* styling for slides that are active*/
    .impress-enabled .step.active {
        opacity: 1;
    }


/* styling for all slides */
.slide {
    display: block;
    width: 700px;
    height: 600px;
    padding: 40px 60px;
    background-color: #e9d8da;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #350207;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    font-family: 'Engravers MT';
    font-size: 24px;
}

/* styling for slide paragraphs */
.slide p {
        margin-top: 15px;
        margin-bottom: 30px;
        line-height: 30px;
    }

/* styling for slide links */
.slide a, .slide a:visited {
        color: #071549;
        text-decoration: none;
        background-color: #abc;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #cde;
    }

.slide a:hover, .slide a:active {
            background-color: #cde;
        }

/* styling for slide text area */
.slide .slide-text {
        height: 450px;
    }

/* styling for menu section of each slide */
div.menu {
    border-top: 2px solid black;
    padding-top: 25px;
    text-align: center;
}